.App {
  text-align: center;
}

#footer-container {
  background-color: #43766C;
}

.card {
  background-color: #43766C;
  color: #F3F3F3;
  border: none;
}

@media (max-width: 1200px) {
  .about-page {
    height: 1300px;
  }
}

@media (max-width: 800px) {
  .about-page {
    height: 1700px;
  }
}

@media (max-width: 600px) {
  .about-page {
    height: 2000px;
  }
}

#brand-logo {
  width: 120px;
  height: 110px;
}

#training-card {
  background-color: #DCD7C9;
  color: #2C3639;
}

#training-card-btn {
  background-color: #304D30;
  color: white;
  border-color: #304D30;
}

#training-image {
  width: 100%;
  height: 400px;
}

#image-card {
  background-color: #860A35;
}

.slider {
  position: relative;
  height: 900px
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 50px;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 50px;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
}